<app-main></app-main><br>
<p class="text">Itt tudod megvásárolni a szükséges alkatrészeket!</p><br>
<div class="button">
  <input type="number" [(ngModel)]="htmlWheel" name="htmlWheel" min="0">
  <button (click)="buyWheel()" class="btn btn-info">Kerék vásárlása</button>
  <input type="number" [(ngModel)]="htmlChasis" name="htmlChasis" min="0">
  <button (click)="buyChasis()" class="btn btn-info">Karosszéria vásárlása</button>
  <input type="number" [(ngModel)]="htmlEngin" name="htmlEngin" min="0">
  <button (click)="buyEngin()" class="btn btn-info">Motor vásárlása</button>
</div><br>
<p class="text">Raktár készlet</p>
<div class="table">
    <table>
      <tr>
        <td>Kerék</td>
        <td>{{ javaWheel }}</td>
      </tr>
      <tr>
          <td>Karosszéria</td>
          <td>{{ javaChasis }}</td>
      </tr>
      <tr>
          <td>Motor</td>
          <td>{{ javaEngin }}</td>
      </tr>
      <tr>    
    </table>
    </div>
    <div class="pics">
      <img id="wheel" src="./assets/pictures/wheel.jpg" alt="wheel">
      <img id="chasis" src="./assets/pictures/chasis.jpg" alt="chasis">
      <img id="engine" src="./assets/pictures/engine.jpg" alt="engine">
    </div>

<!-- <div *ngIf="visible">
<app-production (sendProductionIntArray)="add($event)"></app-production>
</div> -->
