.title {
  font-size: 1cm;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.text {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center
}