<app-main></app-main>
<p id="elszamolas">Előző havi elszámolás</p>
<div class="table">
<table>
  <tr>
    <td>Reklámköltség</td>
    <td>{{ monthAdvertisingCost }}</td>
  </tr>
  <tr>
      <td>Bérköltség</td>
      <td>{{ monthWorkersWages }}</td>
  </tr>
  <tr>
      <td>Eladási százalék</td>
      <td>{{ randomPlusReklam }}</td>
  </tr>
  <tr>
      <td>Eladott autók száma</td>
      <td>{{ realSelling }}</td>
  </tr>
  <tr>
      <td>Havi bevétel</td>
      <td>{{ monthIncome }}</td>
  </tr>
  <tr>
      <td>Tőke</td>
      <td>{{ companyMoney }}</td>
  </tr>

</table>
</div>
