.text {
  font-size: 0,5cm;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.advertisement {
  display: flex;
  justify-content: center;
}

#tv {
  max-width: 200px;
  max-height: 350px;
  margin: auto;
  position: absolute;
  left: 0; right: 0; bottom: 20px;
 
}

#radio {
  max-width: 200px;
  max-height: 350px;
  margin: auto;
  position: absolute;
  left: 10; right: 0; bottom: 20px;
 
}

#laptop {
  max-width: 200px;
  max-height: 350px;
  margin: auto;
  position: absolute;
  left: 10; right: 10; bottom: 20px;
 
}